@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'LTEnergy-Regular';
    src: url('./../fonts/LTEnergy-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LTEnergy-Semi-Italic';
    src: url('./../fonts/LTEnergy-Semi-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'LTEnergy-Italic';
    src: url('./../fonts/LTEnergy-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'LTEnergySmRd-Regular';
    src: url('./../fonts/LTEnergySmRd-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LTEnergySmRd-Semi-Italic';
    src: url('./../fonts/LTEnergySmRd-Semi-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'LTEnergySmRd-Italic';
    src: url('./../fonts/LTEnergySmRd-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'LTEnergy-NarrowBold';
    src: url('./../fonts/LTEnergy-NarrowBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'LTEnergy-NarrowBoldSemi-Italic';
    src: url('./../fonts/LTEnergy-NarrowBoldSemi-Italic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'LTEnergy-NarrowBoldItalic';
    src: url('./../fonts/LTEnergy-NarrowBoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'LTEnergy-WideBold';
    src: url('./../fonts/LTEnergy-WideBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'LTEnergy-WideBoldSemi-Italic';
    src: url('./../fonts/LTEnergy-WideBoldSemi-Italic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'LTEnergy-WideBoldItalic';
    src: url('./../fonts/LTEnergy-WideBoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

.bg-gradient-1 {
    /*background: rgb(227,228,249);*/
    background: linear-gradient(23deg, rgba(227,228,249,0.7) 10%, rgba(227,205,218,0.5) 52%, rgba(227,228,249,0.7) 90%);
}
